.player {
    display: inline-flex;
    position: relative;
    margin: 10px 0px;
}

.fallen_pieces_imgs {
    display: inline-flex;
}
.fallen_piece {
    margin-left: 50px;
    position: absolute;
}
