@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "../Components//Home/Home";
@import "../Components/ChessBoard/ChessBoard";
.board_container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocker {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: #fff;
    z-index: 100;
}
