@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato";
}
body {
    background-color: #c0c0c0;
}

@import "../Components/Home/Home";
@import "../Components/ChessBoard/ChessBoard";
@import "../Components/GameInfo/GameInfo";
@import "../Components/Lobby/Lobby";

.game_instance_container {
    display: flex;
    position: relative;
}

.piece_img {
    width: 75%;
    height: 75%;
}
