@import "./Chat/Chat.scss";

.game_info_container {
    display: flex;
    flex-direction: column;
    max-width: 400px;

    .game_buttons {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        div {
            margin: 0px 0px 10px 0px;
            border: 2px solid #fff;
            width: 175px;
            height: 45px;
            background-color: #00b1b1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 22px;
            transition: 0.1s linear;
            &:hover {
                transition: 0.1s linear;
                background-color: #00c4c4;
                cursor: pointer;
            }
        }
    }
}
